## **NBA Contracts Web Scraper**

This script extracts **NBA player contract data** from [Spotrac](https://www.spotrac.com/nba/contracts) using **Selenium with Microsoft Edge**. The extracted data includes:

- **Rank**: The player's ranking based on contract value.
- **Player Name**: The name of the player.
- **Age**: The player's age at the time of signing.
- **Value**: The total contract value in dollars.

### **Workflow:**
1. **Launches Microsoft Edge** and navigates to the NBA contracts page.
2. **Waits for JavaScript to load** the full table.
3. **Extracts contract details** for the **top 50 NBA players**.
4. **Stores the data in a Pandas DataFrame** and saves it as a CSV file.
5. **Displays the first few rows** of the extracted dataset.

### **Output:**
- A **CSV file (`top_50_nba_contracts.csv`)** containing the contract details.
- A **Pandas DataFrame** displaying the extracted data.

This script automates the process of collecting **NBA salary data**, making it useful for **financial analysis, salary cap management, and player valuation research**.

In [6]:
from selenium.webdriver import Edge
from selenium.webdriver.edge.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

# Path to Edge WebDriver
edge_driver_path = r"C:\Users\USER\OneDrive - Institute of Business Administration\Desktop\Web scrapping\edgedriver_win64 (1)\msedgedriver21.exe"

# Set up Edge WebDriver service
service = Service(edge_driver_path)
driver = Edge(service=service)

# Access the webpage
url = "https://www.spotrac.com/nba/contracts"
driver.get(url)

# Allow time for JavaScript to load data
time.sleep(5)

# Wait until table loads
WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.XPATH, '//table/tbody/tr'))
)

# Locate all table rows
rows = driver.find_elements(By.XPATH, '//table/tbody/tr')[:50]  # Get only top 50 rows

# Store extracted data
data = []
for row in rows:
    try:
        rank = row.find_element(By.XPATH, './/td[1]').text.strip()  # Rank (Column 1)
        player_name = row.find_element(By.XPATH, './/td[2]').text.strip()  # Player Name (Column 2)
        age = row.find_element(By.XPATH, './/td[5]').text.strip()  # Age (Column 5)
        value = row.find_element(By.XPATH, './/td[9]').text.strip()  # Value (Column 9)
        
        data.append([rank, player_name, age, value])
    except Exception as e:
        continue  # Skip row if data is missing

# Convert to DataFrame
df = pd.DataFrame(data, columns=["Rank", "Player Name", "Age", "Value"])

# Save to CSV (Top 50 players)
df.to_csv("top_50_nba_contracts.csv", index=False)

# Display extracted data
print(df)

# Close the browser
driver.quit()

   Rank              Player Name Age         Value
0     1             Jayson Tatum  26  $313,933,410
1     2             Jaylen Brown  26  $285,393,640
2     3             Nikola Jokic  27  $276,122,630
3     4             Bradley Beal  29  $251,019,650
4    T5          Anthony Edwards  21  $244,623,120
5    T5        Tyrese Haliburton  23  $244,623,120
6     7    Giannis Antetokounmpo  26  $228,200,420
7    T8              Evan Mobley  23  $224,238,150
8    T8          Cade Cunningham  22  $224,238,150
9    T8             Franz Wagner  22  $224,238,150
10   11           Scottie Barnes  22  $224,237,860
11  T12       Karl-Anthony Towns  26  $220,441,984
12  T12             Devin Booker  25  $220,441,984
13   14            Stephen Curry  33  $215,353,664
14  T15              Zach LaVine  27  $215,159,700
15  T15              Luka Doncic  22  $215,159,700
16  T15               Trae Young  22  $215,159,700
17   18              Joel Embiid  27  $213,280,928
18   19               OG Anunoby  26  $212,500,000
19   20              Paul George  34  $211,584,940
20   21             Jamal Murray  27  $207,845,568
21   22              Rudy Gobert  28  $205,000,002
22  T23             Tyrese Maxey  23  $203,852,600
23  T23              LaMelo Ball  21  $203,852,600
24  T25             Desmond Bane  25  $197,230,450
25  T25           Darius Garland  22  $197,230,450
26  T25          Zion Williamson  22  $197,230,450
27  T25                Ja Morant  22  $197,230,450
28   29          Lauri Markkanen  27  $195,868,144
29   30             Kevin Durant  32  $194,219,320
30   31              Joel Embiid  30  $192,907,008
31   32            Anthony Davis  27  $189,903,600
32   33            Pascal Siakam  30  $188,950,272
33   34         Domantas Sabonis  27  $186,016,000
34   35           Alperen Sengun  22  $185,000,000
35  T36       Michael Porter Jr.  23  $179,299,750
36  T36  Shai Gilgeous-Alexander  23  $179,299,750
37   38           Damian Lillard  30  $176,265,152
38  T39    Giannis Antetokounmpo  28  $175,369,471
39  T39            Anthony Davis  30  $175,369,471
40   41              Bam Adebayo  26  $165,348,864
41  T42              Bam Adebayo  23  $163,000,300
42  T42             Jayson Tatum  22  $163,000,300
43  T42         Donovan Mitchell  24  $163,000,300
44  T42             De'Aaron Fox  22  $163,000,300
45   46        Immanuel Quickley  25  $162,500,000
46   47             Jerami Grant  29  $160,000,000
47  T48           Brandon Ingram  23  $158,253,000
48  T48             Jamal Murray  22  $158,253,000
49   50            Jalen Brunson  27  $156,549,124